<div class=""> Mis Reservas: </div>
<p-splitter [panelSizes]="[5,90,5]" [style]="{'display': 'flex','align-items':'center','width':'300px'}">
  <ng-template pTemplate>

    < </ng-template>
      <ng-template pTemplate>
        <p-splitter [style]="{'height': 'auto','background-color': '#606060','color':'white'}" layout="vertical"
          [panelSizes]="[41.5,36.5,22]">
          <ng-template pTemplate>
            <span [style]="{'padding':'15px','text-align':'center'}">1
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem excepturi, dignissimos natus illo,
              distinctio
              maxime
              <hr
                [style]="{'height':'2px','border':'0','background-image': 'linear-gradient(to right, rgb(96, 96, 96), rgba(255, 255, 255), rgba(96, 96, 96))'}">
            </span>

          </ng-template>
          <ng-template pTemplate>
            <p-splitter [style]="{'background-color': '#606060','padding':'0px 10px'}">
              <ng-template pTemplate>
                <ng-container>
                  <i class="pi pi-check"></i>
                  <i class="pi pi-check"></i>
                  <div style="padding: 5px;">Lorem ipsum dolor, sit amet consectetur adipis.</div>
                </ng-container>

              </ng-template>
              <ng-template pTemplate>
                <i class="pi pi-check" [style]="{'font-size': '4rem','color':'white'}"></i>
                <div style="padding: 5px;">Panel con la otra informacion</div>
              </ng-template>
            </p-splitter>
          </ng-template>
          <ng-template pTemplate>
            
            <p
              [style]="{'background-color': '#5ebc00','margin':'0','color':'white','font-size':'11px','padding':'10px'}">
              Estas listo para ingresar a las oficinas ¡Te extrañabamos!
              En la puerta de ingreso reconócete con WhoAmEye para que el sistema sepa que llegaste a tu reserva.
            </p>

          </ng-template>

        </p-splitter>
      </ng-template>

      <ng-template pTemplate>
        > </ng-template>
</p-splitter>